<link rel="stylesheet" href="css/nav.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<nav class="navbar">
    <!-- 1st container -->
    <div class="nav-div">

        <img id="logo" src="/images/R.png" class="brand-logo" alt="logo is here">
        <!-- 2nd container of items and include another container -->
        <div class="nav-items">
            <div class="search">
                <input id="searchtext" type="text" name="searchtext" class="search-box"
                    placeholder="search for a product">
                <button type="submit" class="search-btn" id="search" onclick="search()"> searchh</button>
            </div>
            <a href="#"><img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAlhJREFUSEvdVr1uE0EYnG/BogLME+CUVDEFOUsUODwBPAGhSURFKhRsI4zwmYgKKpQ0hCeAJyChiHSbylSUOE9AgCoyvkG7/mF9vvPdESxLbHU6f56Z79uZ3RMsaMmCePH/EjdQqfYhNJMleLyNoGue59ZxDTfKImofQHG0nSLyrBUGzbkSN2TlgJBbrofmTmzGS6HpFhS8VqF8MM+/gO5cR11XlT2Q9wxZgadXmuicRNMzscdmX4jzl88aMSXhgcUQeeeHwVoc3pi4gZU7FHl/VtKJPaWsthAMRETWmLiGypoI3/5D4s8+dTkJb0zcRLnYkwvfBlbnJ1BZ2+daClWST62pKPfbCPZSiU1BFlPMEuJE6HuBp6U4U40z7QK5+5ymOCpgC5XSOeHXUYTaod6cJXLq5KqLZ460qwA6PvX1rKOuKe+VEA9NfZ+yNMprplGborwA5j9Df5hui8YfLR5V0wRPdZx3ZFaskwgh77ZwZE+qXKO2JhOvA2AZQNenXkoDceqPfepSWv0gOTFrsgNs9qGMkNil0C9BxMbGvQTSyGOJ3UynAbi/J53LcRiJ97Frsizk5hZKi5CLM/NDwFxvWUhNTdKZnDlObmEd3jrAYg+FNy9x+DMK8gg3LxbQewDIiQ+9m1Vkormss5X3AsTWEGzfp74dBa6L9xHAqn0v2PZD/TgreeKoXVACbFOrKGhNvFD+JCNWXO5R2zELdobd7Pqh3pjqWHk7INbte2Ijz7jTzHVNgEvPEegk5U9Q8Qj8aCH4knXMM/c4D8jf1M7tuzpNzMKIfwMrl+cfOjE8bAAAAABJRU5ErkJggg==" /></a>
            <div id="signin">
                <% if (fullname.fullname) { %>
                    <a style="float: left;" href="" onclick="signout()"><img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAWpJREFUSEvtls1Nw0AQhd8zSDmSTvAFyA1aoAJCB5wTDkayA10kdEAHcU7Y4eJ0EDqAK4QdtMFGBqxo1iFYSNnbWrP7jefn7RANLTbExf8C93DgC3b3tNESyOMNknnZ3umPA/jtV7bGAHwt9NOOGEUmPS/2TuC+1xlB5MwZmh+gyGmI6Z3dOoEveRgLeAxgRuGF1gGh2CiB5FVokqA2mJBJKNMTLbjPI9mCV+bYVvGL1woGJl3ms8jxRkNte5X0xoTMinzabx522gZvTwM8ZL+e4x46XVKGH9XnVkhVzqiKq6JXMyOeunWucT/5Dl8JXkuVSqRI0h91owHHAPa1uauycwYXl1SE2kmlQiTW+S9LlWN7opHiKlzN2ykmJCu3k30OicXzRtqpgDciIFWF8yfKtQWXHwkATmrm0SxbrPYg0Njok8tqPXUjbyOTdGsNe+Uet8+jVloXwHyt8VYL0tg5TZmaC7U2jYHfAXGVES5uf0d3AAAAAElFTkSuQmCC" /></a>
                    <div style="color: black;float: left">
                        &nbsp;&nbsp;<%= fullname.fullname %>
                    </div>

                    <%}else{%>
                        <a href="/signin"> <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAk9JREFUSEvllUFy00AQRf8XKcIuuQFwgjgLIu8INzA3SE6A2VG2qzBVdmCHOUGOgG+As8IKC5QTwBHsHYREn2phU5IizYxTVGWBlpqZfj2/e34Td/Txjri4FXiA9iGgPUv6GlH6Fp/PNr3ARuABDjoiTwHsVkALSscjnE9DEwgG96J4QuGFM7DwcoxkEgIPApu0oj5ZQEJnECZbuJwNkS5MBRBdgU/zdfHZCPOZDx4E7jNOAVhNL8ZKWnVB+4y/A3gIIB0r2f9XYOWBHFIOovZQ0mvbNlbivZB3Q0lmh4yh+9ZKeMGv0H50j/r2p3563tS5PbSPSFnH41p8/A5zk77x84LtZJ/xAsCOiA8nWdKti1bo+uVYSfW53TgSBC4+pbquLcrsSq5IDwIP0dr9xW17IrlbAZiBSJVpQbIDYN3pjV1fvXIQ2A6tam3OtIaXYtn7vlJ05KttcHNVM+0j7pLqCMxvSSiVOA11rFuDfcYQuh4kdQ9PWgT3ELEF/a1nmUGkyJQKujjBF3M65+cEW1NdcvuUgDVQ8Cdgel8/j83Lmw41ghtG4NJqWhdsVfOdwppzVNaCc2kZfV0HsbeZZZz4OtY6P4rULY5PKduvk74WXJhGS4qdkDFXVGGl1sfVv9ppdQNcnDKuaeQruD07EO/zJ0e+GWXzodO5BjyYrYZ6sAs1JbFWzsxlpPNDJ7jPOJ+9dVn6blldd83oktTFpnKNwNAEirWuNlkJvOkw9yXgilcCm2Fc4UHuwVv4kboMwAe1dVe8IMsMgWy65/8D/wYgNxouI+9HyQAAAABJRU5ErkJggg==" /></a>
                        <%} %>


            </div>

        </div>
    </div>
    <ul class="links-container">
        <li class="link-item"><a href="/" class="link">home</a> </li>
        <li class="link-item"><a href="/productcategory/skincare" class="link">skin-care</a> </li>
        <li class="link-item"><a href="/productcategory/buauty" class="link">beauty</a> </li>
        <li class="link-item"><a href="/productcategory/lip" class="link">Lip</a> </li>
        <li class="link-item"><a href="/productcategory/face" class="link">Face</a> </li>
        <li class="link-item"><a href="/productcategory/eye" class="link">Eye</a> </li>

    </ul>

</nav>
<script>
    // $(document).ready(function () {
    //     $("#search").on('click', function (e) {
    //         e.preventDefault();
    //         var data = $('#searchtext').val();
    //         $.ajax({
    //             url: `/search`,
    //             method: 'get',
    //             contentType: 'application/json',
    //             data: {
    //                 email: form.email.value,
    //                 password: form.password.value,
    //             },
    //             success: function (response) {
    //                 console.log(response);
    //             }
    //         });
    //     });
    // });
    function search() {
        var data = $('#searchtext').val();
        window.location.replace(`/search/${data}`);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/nav.js"></script>